<!doctype html>
<body>
  <h2>Please Enter The Puppy's Info</h2>
  <form action= '/' method= "POST">
    <p>Puppy Name: <input type="text" name="name"></p>
    <p>Puppy Breed: <input type="text" name="breed"></p>
    <p>Puppy Age: <input type="text" name="age"></p>
    <input type="submit" id="submit">
  </form>
</body>
